body{
    background-color: #EDEBEB;
    font-family: helvetica;
    padding-bottom: 10rem;
}

.div-form-info{
    width: 35em;
}

.div-form-top{
    width: 55%;
    text-align: left;
}

.div-highschool{
    width: 75%;
    vertical-align: middle;
}

.div-highschool-left{
    width:35%;
    text-align:right;
    height:100%;
    float:left;
}

.div-highschool-right{
    margin-left:35%;
    text-align:left;
}

h1{
    color: #990000
}

table{
    border: 2px solid;
    border-color: #243142;
    border-collapse: collapse;
}

thead{
    background-color: #006398a2;
}

tr{
    height: 2em;
}

td{
    padding-left: 0.25em;
    padding-right: 0.25em;
}

td:nth-child(1){
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even){
    background-color: #0063984b;
}

.label-main{
    font-weight: bold;
}

button{
    font-weight: bold;
}